@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
  @screen md {
    font-size: 18px;
  }
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: unset;
}

.slick-slide > div {
  height: 100%;
}

.slick-dots {
  bottom: -50px;
}

.slick-dots > li {
  margin: 0 10px;
}

.slick-dots > li > button::before {
  color: #babfca;
  font-size: 12px;
}

.slick-dots > li.slick-active > button::before {
  color: #A3AAB8;
}

.slick-prev:before, .slick-next:before {
  color: #A3AAB8;
}

button.slick-arrow {
  width: 30px;
  height: 30px;
}

button.slick-arrow::before {
  font-size: 30px;
  line-height: 30px;
}


